*{
    
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    }
    :root{
        --main-color:#fe5b3d;
        --second-color:#ffac38;
        --text-color:#444;
        --gradient:linear-gradient( #fe5b3d , #ffac38);
    }
    
    html::-webkit-scrollbar{
        width:  0.5rem;
    }
    html::-webkit-scrollbar-track{
       
        background: transparent;
    }
    html::-webkit-scrollbar-thumb{
        background: var(--main-color);
        border-radius: 5rem;
    }
    section{
        padding: 50px  100px;
    }
    header{
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: white;
        padding: 15px  100px;
    }
    .logo img{
        width: 250px;
    }
    .navbar{
        display: flex;
    }
    .navbar li{
        position:relative;
    }
    .navbar a{
        font-size: 1rem;
        padding: 10px 20px;
        color: #4169E1;
        font-weight: 500;
        
    }
    .navbar a::after{
        content: "";
        width:0;
        height: 3px;
        background: var(--gradient);
        position: absolute;
        bottom:-4px;
        left:0;
        transition: 0.5s;
    }
    .navbar a:hover::after{
        width: 100%;
    }
    #menu-icon{
        font-size: 24px;
        cursor: pointer;
        z-index: 10001;
        display: block;
    }
    .header-btn{
        padding: 10px 20px;
        color: var(--text-color);
        font-weight: 600;
    }
    .header-btn .login{
        padding: 10px 20px;
        color:  #fff;
        font-weight: 400;
       color: #4169E1;
        border-radius:20px;
        border: 2px solid rgb(181, 180, 180);
    }
    .header-btn .login:hover{
        background: #fe5b3d;
    
    }
    .header-btn .getstart{
        padding: 10px 20px;
        color:  white;
        font-weight: 400;
        background: #4169E1;
        border-radius:20px;
    }
    .header-btn .getstart:hover{
        background: #fe5b3d;
    
    }